@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root{
    --primary-color:#3a4052;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans',sans-serif;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}
h1{
    font-weight: 300;
    font-size:3rem;
   line-height: 1.2;
    margin-bottom: 1rem;
    
}
.showcase{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#fff;
    padding: 0 1rem;
}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--primary-color) url('./https://traversymedia.com/downloads/cover.jpg') 
    no-repeat center
		center/cover;
}
.video-container video{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;

}
.video-container:after {
	content: '';
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
}

.content{
    z-index: 2;
}

.btn{
    display: inline-block;
    margin: 2rem;
    padding: 1rem 2rem;
    padding-top: 1rem;
    color:#fff;
    border: solid #fff 1px;
    border-radius: 5px;
    background: var(--primary-color);
    opacity: 0.7;
    
    
}
.btn:hover {
	transform: scale(0.98);
}

#about{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 1rem;
}
#about h1{
    font-weight: 500;
}
#about p{
    text-align: center;
    margin: auto;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}
.social{
    padding-top: 1rem;

}
.social a{
    padding: 1rem;
}

.social a:hover{
    opacity: 0.7;
}