@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

.MyGrid-one>*:hover{
    background-color: rgb(47, 194, 165);
    cursor: pointer;
    transition: 0.7s all;
}

