

.mainX{
    background-color: rgb(24, 188, 156);
    max-width: 100vw;
    margin: 0 auto;
    height:600px;
}
    

.dark-header{
    height:50px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(44, 62, 80);
}

ul{
    display: flex;
    justify-content: space-around;
}
ul li{
    color:#fff;
    margin-top: 1rem;
    
}
.linux{
    margin-top: 0.8rem;
    font-size: 20px;
    font-weight: bolder;
}

.dark-header select{
    background-color: rgb(44, 62, 80);
    color:#fff;
    font-weight: bolder;

    
}
.dark-header select option{
    padding: 2rem;
    color:#fff;
    font-weight: bolder;
}
/************GREEN AREA**********************************/

.green-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.green-area img{
    margin-top: 5rem;
    width: 200px;
}
.green-area h1{
    margin-top: 3rem;
    font-size: 40px;
    color:#fff;
}

/***********************************************************/

.sub-area{
    padding-top: 2rem;
    background-color: #F3F4F6;

}
.middle{
    margin-left: 35rem;
    
}

.sub-area input{
    outline: none;
width: 342px;
height: 30px;
padding: 0.9rem 0.5rem;
}
.sub-area a{
    background-color: rgb(24, 188, 156);
    padding: 0.5rem 1rem;
    color:#fff;
    font-size: small;
    font-weight: bold;
    border-radius: 1px;
}
.sub-area a:hover{
    background-color: #128F76;
    border: none;
}
.sub-area p{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-size: small;
    margin-bottom: 1rem;
    color:gray;
    font-weight: bolder;
}

/*************GRID AREA*****************/
main{
    background-color: #F3F4F6;
   
}
.gray-headers{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding-top: 5rem;
    color: rgb(163, 160, 160);
    font-size: 2rem;
    margin-bottom: 3rem;
}

section img{
    border-radius: 50%;
    width: 150px;
}

.MyGrid-one{
    max-width:1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8,2fr);
    grid-auto-rows: minmax(350px,auto);
    grid-template-areas: "one one two two three three four four four"
    "five five six six seven seven eight eight eight";
    grid-gap:1rem;
}
.one{
    grid-area: one;
}
.two{
    grid-area: two;
    
}
.three{
    grid-area: three;
}
.four{
    grid-area: four;
}
.five{
    grid-area: five;
}
.six{
    grid-area: six;
}
.seven{
    grid-area: seven;
}
.eight{
    grid-area: eight;
}
.MyGrid-one>*{
    background-color: white;
   border-radius: 2px;
}
.MyGrid-one .litle-bold{
    font-weight:600;
    font-size:13px;
}
.box-content{
    display: flex;
   flex-direction: column;
   align-items: center;
    margin-top: 1rem;
}
.box-content .text{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-self: center;
    align-items: center;
    justify-content: center;
}
.box-content .text p{
    text-align: center;
    margin:0.3rem 2rem;
}
.bold{
    font-size: 1.3rem;
    font-weight:900;
    text-transform: capitalize;
}

.MyGrid-last{
    max-width:1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8,2fr);
    grid-auto-rows: minmax(350px,auto);
    grid-template-areas: "one one two two three three four four";
    grid-gap:1rem;
}

.MyGrid-last>*{
    background-color: white;
   border-radius: 2px;
}
.MyGrid-last img{
    border-radius: 0;
}
/********************footer*************************/

footer{
    margin-top: 10rem;
    height: 200px;
    background-color: rgb(44, 62, 80);
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
}

footer ul li{
    margin: 2rem;
    
}
footer h2{
    text-align: center;
    padding-bottom: 1rem;
}
footer p{
    text-align: center;
}
footer a{
    display: inline-block;
    color:#FDE68A;
    text-align: center;
    align-self: center;
    margin: 0 4rem; 
    padding-top: 0.7rem; 
}
footer .about-us{
    margin: 0 5rem;  
}