
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@700&family=Oswald:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:#fff;
}
#myVideo{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.logo{
    position: relative;
    bottom: 15px;
    z-index: 1;
    width: 150px;
    

}

#navbar{
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    margin: 1rem;
    z-index: 1;
    
}

#navbar ul {
    display: flex;
    
}

#navbar ul li a{
    padding: 0.8rem;
    margin: 1rem;
    font-size: larger;
}

#navbar ul li .giris{
    color:yellow;
    border: 1px solid yellow;
}
#navbar ul li .giris:hover{
    background-color: yellow;
    color:black;
}


#navbar ul li a:hover{
    color:rgb(134, 89, 89);
    border: rgb(122, 90, 78) 1px solid;
}


/*****************************************************/

.content h1{
    position: relative;
    align-self: center;
    text-align: center;
    z-index: 1;
    color:#fff;
    margin-top: 5rem;
    font-family: 'Bona Nova', serif;
    font-family: 'Oswald', sans-serif;
    font-size: xx-large;

}

.arama{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    padding: 1rem;

}
.arama input{
    width: 450px;
    height: 30px;
    
}
.fa{
    padding: 0.4rem;
}
.fa:hover{
    color:black;
    background-color: white;
}

/******************************************/

.content2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content2 .images img{
    width: 60px;
    padding: 1rem;
    margin: 0.5rem;
    
}

.content2 .images img:hover{
    opacity: 0.8;
    
}



.content2 .images .arka-resim{
    background-color: rgb(94, 50, 50);
}
/****************************************************/

#yellowstone{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 7rem;
}

#yellowstone a{
    display: flex;
    padding: 1rem;
    margin-top: 7rem;
    font-size: 30px;
}
#yellowstone a:hover{
    opacity: 0.5;
}


/***********************KURSLAR.HTML**************************/

#kurslar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 1rem;
    z-index: 1;
    color:#fff;
    flex-wrap:wrap;

}
.card{
    position: relative;
    z-index: 1;
    padding: 1rem;
    margin: 2rem;
    background-color: rgb(54, 46, 46);
    border: 2px solid white;
    width: 230px;
    height: 300px;
    flex-wrap: wrap;
    transition: box-shadow .3s;
    border-radius:10px;
  
}
.card .icerik{
    display: flex;
    flex-direction: column;
    align-items:stretch;
    justify-content: center;
}
.card .course{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.card:hover{
    box-shadow: 0 0 20px rgb(167, 206, 28); 
    cursor: pointer;
}
.card p{
    text-align: center;
    margin: 1rem;
}
.card h3{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.cards1{
    display: flex;
}

.cards2{
    display: flex;
}
.cards3{
    display: flex;
}

/*YORUMLAR.HTML*/
/*left*/
.row{
    position: relative;
    z-index: 1;
    color:#fff;
    display: flex;
    
}

.comment{
    background-color: rgba(41, 13, 44, 0.3);
    margin: 1rem;
    padding: 1rem;
    text-align: left;
    cursor: pointer;
}
.comment p{
    margin: 0.5rem;
}
.rounded-circle{
    object-fit: cover;
}
.col{
    padding: 1rem;
    font-size: large;
}
.col h1{
    padding-left: 1rem;
    
}

/*right*/

.right{
    margin-top:1rem;
}
.right h4{
margin-left: 1.5rem;
}

#algin-form{
display: flex;
flex-direction: column;
margin-top: 2rem;
margin-right: 3rem;
padding: 1rem;

}
.form-group{
    padding: 0.5rem;
}
.form-group textarea{
    display: block;
    padding: 0.5rem;
    color:#fff;
    margin-top: 0.5rem;
    resize: none;
    font-size:large;
}
.form-group label{
    font-size: large;
    padding: 0.5rem;
}
.form-group input[type="text"]{
    font-size:medium;
    width: 100%;
   border-bottom: 5px;
    padding: 0.5rem;
    background-color: black;
    color:#fff;
    border-bottom: 3px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    margin:0.3rem;
    
}
.form-inline .mr-1{
   padding: 0.5rem;
   margin-left:0.7rem;
   
}
.btn{
   font-size: medium;
   padding: 0.7rem;
   margin: 0.3rem;
   background-color: black;
   color:yellow;
   border: yellow solid 1px;
}
.btn:hover{
    background-color: yellow;
    color:black;
    cursor: pointer;
}