#navbar{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    margin: 1rem 2rem;
    z-index: 1;
   
    
}

.card{
    padding: 0;
    margin:0.4rem;

}
#main-div{
    margin: 0;
}



#wrapper{
    display: flex;
   align-items: flex-start;
   position: relative;
   bottom: 130px;
}

#yellowstone{
    margin:0;
}

#yellowstone a{
    margin: 0;
}