
.header{
    margin: 1rem;
    text-align: center;

}

#content{
    margin: 0;
    display: flex;
    flex-direction: column;
    
}

.left{
   margin: 0;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    
}

.sınıf label{
    position: relative;
    top: 5px;
    
}
.sınıf textarea{
    width: 100%;
    margin: 0.5rem;
    padding: 0;
    position: relative;
    left: -7px;
}

.right{
    width: 100vw;
}