@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');
/*general css*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
  font-family: 'Lato', sans-serif;
  color:#333;
  line-height: 1.6;

}

ul{
    list-style-type: none;

}
a{
    text-decoration: none;
    
}

h1,h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 0.5rem 0

}
p{
    margin: 0.75rem 0;

}
img{
    width: 100%;
    
}

/*---------------------------------------------------------------------------------------------*/

/* Navbar */
.navbar {
    background-color:#047aed;
    color: #fff;
    height: 70px;
  }
  
  .navbar ul {
    display: flex;
  }
  
  .navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
  }
  
  .navbar a:hover {
    border-bottom: 2px #fff solid;
  }
  
  .navbar .flex {
    justify-content: space-between;


    /*utilities*/
  }
.container{
    max-width: 1100px;
    margin: 0 auto;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
/*-----------------------------------------------------------------------------------------------*/

/*showcase*/

.showcase{
    background-color: #047aed;
}