h1,p,a{
    font-size: small;
}
.content p{
    font-size: small;
}


#navbar{
    flex-direction: column;
    
}

#navbar ul{
    margin: 0;
}
#navbar ul li{
    margin: 0;
    padding: 0.3rem;
}

.logo{
    width: 200px;
    padding-top: 1rem;
    
}

.content a{
    font-size: small;
}

.content{
   
    margin-top: 3rem;
}