@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lora', serif;
}

a{
    text-decoration: none;
    color:#fff;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("https://images.pexels.com/photos/8524945/pexels-photo-8524945.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-position: center; 
    
}




#navbar{
    
    margin: auto;
    padding: 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#navbar ul {
    display: flex;
    padding: 1rem;
    margin: 1rem;
}
#navbar ul li{
    margin: 1rem;
    list-style-type: none;
    letter-spacing: 2px;
    font-size: large;
    position: relative;
}

#navbar ul li::after{
    content:'';
    height: 3px;
    width:0;
    background: #ffc107;
    position:absolute;
    left:0;
    bottom: -10px;
    transition: 0.5s;
}


#navbar ul li:hover::after{
    width: 100%;
}

/*navbar en
d*/

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

h1{
    color:#fff;
    padding: 1rem;
    font-weight: 1500;
    font-size:3rem;
    text-transform: capitalize;
}
.content p{
    color:#fff;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}
.content a{
    display: inline-block;
    border: solid 1px yellow;
    margin-top: 1rem;
    padding: 1rem;
    text-transform: capitalize;
    font-size: 1.5rem;

}
.content a:hover{
    background-color: yellow;
    color:black;
}